@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(102, 208, 240);
  background-repeat: no-repeat;
  overflow: hidden;
  user-select: none;
}
  
header {
    margin-bottom: 20px;
}
  
.race-track {
  position: fixed;
  bottom: 0%;
  left: 5%; 
  width: calc(100% - 40px); 
  height: 60vh;
  overflow: hidden;
  z-index: -10;
}

  
.dauphin {
    position: absolute;
    width: 110px;
}

.dauphin img {
    width: 100%;
}

.container--card {
  position: absolute;
  top: 110px;
  right: 5%;
}

.card--dolphin {
  position: relative;
  background-image: url("/img/card_dolphin.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
  border: none;
}

.input--dolphin {
  width: 70%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #887C7B;
  border: 2px solid #341D1A;
  box-shadow: inset 0px 7px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135.5%;
  color: rgb(255, 255, 255);
}

.button--start {
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: 0px 9px 0px #515795;
  border-radius: 15px;
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);
  cursor: pointer;
}

.button--start:active {
  position: absolute;
  top: calc(50% + 40px + 9px);
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: none;
  border-radius: 15px;
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
