@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(102, 208, 240);
  background-repeat: no-repeat;
  user-select: none;
}
  
header {
  position: fixed;
  top: 0;
  height: 20%;
  width: 100%;
  max-width: 100%;
  background-image: url("/img/top.png");
  background-size: cover;
  z-index: 1;
}
  
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
  
#image {
  margin-top: 20px;
  margin-right: 20px;
  width: 7%;
  height: 7%;
}
  
.money {
  width: 20%;
}
  
.coin {
  margin-top: 20px;
  margin-left: 20px;
  width: 7%;
  height: 7%;
}  
  
.bottom-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.container--button{
  display: flex;
  width: fit-content;
  height: fit-content;

  margin-top: -0.5%;
  margin-left: 40%;
}

.vertical-bar{
  width: 10px;
  height: 60px;

  background: #3F2F2F;
}

#vertical-bar--left{
  position: absolute;
  margin-top: 8%;
  margin-left: 2%;
}

#vertical-bar--right{
  position: absolute;
  margin-top: 8%;
  margin-left: 17%;
}

.button--login{
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: 0px 9px 0px #515795;
  border-radius: 15px;

  font-family: 'Bungee';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);

  position: absolute;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 2.5%;
  transform: translate(-50%);
}

.button--login:active{
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: none;
  border-radius: 15px;

  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);

  position: absolute;
  cursor: pointer;
  margin-top: 11%;
  margin-left: 2.5%;
  transform: translate(-50%);
}

.button--signup{
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: 0px 9px 0px #515795;
  border-radius: 15px;

  font-family: 'Bungee';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);

  position: absolute;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 17.5%;
  transform: translate(-50%);
}

.button--signup:active{
  box-sizing: border-box;
  padding: 2px 15px;
  background: #FEFEFF;
  border: 2px solid #341D1A;
  box-shadow: none;
  border-radius: 15px;

  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);

  position: absolute;
  cursor: pointer;
  margin-top: 11%;
  margin-left: 17.5%;
  transform: translate(-50%);
}


.center-cloud {
  z-index: 2;
  display: block;
  margin-top: 12%;
  margin-left: 36%;
  transform: translateY(50%);
  width: 30%;
}