@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(102, 208, 240);
    background-repeat: no-repeat;
}
  
header {
    position: fixed;
    top: 0;
    height: 20%;
    width: 100%;
    max-width: 100%;
    background-image: url("/img/top.png");
    background-size: cover;
    z-index: 1;
}
  
.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
  
#image {
    margin-top: 20px;
    margin-right: 20px;
    width: 7%;
    height: 7%;
}
  
.money {
    width: 20%;
}
  
.coin {
    margin-top: 20px;
    margin-left: 20px;
    width: 7%;
    height: 7%;
}  
  
.bottom-image {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: -1;
}

.content{
  background-image: url("/img/card-profile.png");
  background-size: contain;

  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%);
  height: 435.5px;
  width: 321.5px;
}

.avatar{
  margin-top: 15%;
  margin-left: 50%;
  transform: translate(-50%);

  width: 128px;
  height: 122px;
}

.horizontal-bar{
  width: 80%;
  height: 2px;
  background-color: black;

  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}

.account-name{
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135.5%;
  color: rgba(0, 0, 0, 0.686);
}
