header {
    height: 120px;
    width: 100%;
    max-width: 100%;
    background-image: url("/img/top.png");
    background-size: cover;
    z-index: 1;
}
  
.top {
    display: flex;
    justify-content: space-between;
}
  
.money {
    position: absolute;
    right: 50%;
    transform: translate(50%);

    width: 370px;
    height: 100px;
}
  
.coin {
    width: 74px;
    height: 74px;
    margin-top: 10px;
    margin-left: 20px;
}
  
.profile-image {
    width: 74px;
    height: 74px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 20px;
}